node_modules
/laravel-api/public/hot
/laravel-api/public/storage
/laravel-api/storage/*.key
vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
